.clear {
    clear: both;
}

@font-face {
    font-family: Myriad_Pro;
    src: url(../fonts/fonts-style/MYRIADPRO-SEMIEXT_0.OTF) format('truetype');
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Myriad_Pro', sans-serif;
    background-color: #eee;
}

/* Common */

.mt-8 {
    margin-top: 8px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

/* Main */

/* Header */
#header {
    display: block;
    width: 100%;
    height: 152px;
}

#header > .header-section {
    display: block;
    position: fixed;
    background-color: #ddd;
    width: 100%;
    z-index: 1;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content .title {
    margin: 0;
    padding: 12px 24px;
    margin-left: 30px;
}

.header-content .account {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 24px;
}

.header-content .account a {
    position: relative;
    display: inline-flex;
    padding: 10px 8px;
    line-height: 1.4;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.header-content .account .account__login:hover,
.header-content .account .account__sign-up:hover {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.reset-text-decor {
    text-decoration: none !important;
}

#header .nav-bar {
    display: block;
    background-color: rgb(41, 171, 223);
    height: 46px;
    width: 100%;
}

.nav-bar .nav-item {
    display: block;
    float: left;
    text-align: center;
    padding: 12px 24px;
    position: relative;
    cursor: pointer;
}

#header .nav-bar a {
    text-decoration: none;
    color: #000;
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
}

.account__icon-user {
    height: 26px;
    width: 26px;
    border-radius: 100%;
    border: 1px #000 solid;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover header */

.nav-bar .nav-item:hover {
    background-color: #e74d55;
}

#header .style-icon {
    font-size: 20px;
    padding-right: 12px;
}

#header .search-btn {
    display: flex;
    float: right;
    padding: 13px 24px;
}

.search-btn .search-box {
    align-self: center;
}

#header .sub-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header .sub-nav .selected-box {
    width: 222px;
    border: 5px solid rgba(250, 234, 50, 0.7);
    margin: 8px 4px;
}

/* Content */

#content {
    display: block;
}

#content .content-section {
    display: flex;
    justify-content: space-between;
}

#content .first-ads-section,
#content .second-ads-section {
    flex-basis: 15%;
    height: 200px;
}

#content .main-content {
    flex-basis: 70%;
}

#content .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .banner-heading {
    padding: 4px 0;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 20px;
    margin: 20px 0 0 0;
}

#content .banner-sub-heading {
    padding: 8px 4px;
    line-height: 1.4;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

#content .banner-img {
    display: flex;
}

#content .img-item {
    display: flex;
    height: 108px;
    padding: 8px 16px;
}

/* Category */

#content .category {
    position: relative;
    z-index: 0;
}

#content .main-category {
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    width: 65%;
}

#content .nav-category {
    display: block; 
    padding: 12px 20px;
}

#content .nav-category h3,
#content .nav-category p {
    margin: 8px 0;
}

#content .filter p {
    display: inline-block;
    margin-right: 8px;
}

#content .filter .filter-item {
    display: inline-block;
    padding: 4px 8px;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
}

#content .filter .filter-item:hover {
    color: #fff;
    opacity: 0.6;
}

.category .suggestion-item:hover {
    opacity: 0.7;
}

.category .suggestion-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.category .suggestion-item {
    position: relative;
    padding-top: 40%;
    margin: 20px 20px;
    border-radius: 12px;
}

/* Add img into list category */

.category .img-1 {
    background: url('/NhaTro/assets/img/Content/Suggestion/Nhatrophudien.jpg') center 100% / cover no-repeat;
}
.category .img-2 {
    background: url('/NhaTro/assets/img/Content/Suggestion/img2.jpg') center 100% / cover no-repeat;
}

.category .img-3 {
    background: url('/NhaTro/assets/img/Content/Suggestion/troHQV.jpg') center 100% / cover no-repeat;
}

/* Sort filter */

#content .filter-function {
    position: absolute;
    display: inline-block;
    z-index: 0;
    margin-left: 20px;
}

.filter-function .sort-filter {
    text-align: center;
}

.filter-function .sort-filter a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 60px 90px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
}

.filter-function .sort-filter a:hover {
    background-color: #ccc;
    opacity: 0.7;
}
/* Login-signup UI */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.UI__login span {
	font-size: 12px;
}

.UI__function .UI__login {
    animation: loginFadeIn 0.5s ease;
}

.sign-up-container a,
.sign-in-container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.sign-in-container button,
.sign-up-container button,
.overlay-container button {
	border-radius: 20px;
	border: 1px solid #29abdf;
	background-color: #29abdf;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.sign-in-container button:active,
.sign-up-container button:active,
.overlay-container button:active {
	transform: scale(0.95);
}

.sign-in-container button:focus,
.sign-up-container button:focus,
.overlay-container button:focus {
	outline: none;
}

.overlay-container button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form-container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form-container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.UI__function {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
    align-self: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 100% 0;
    z-index: 2;
}

.UI__login {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.UI__function .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.UI__function .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.UI__function .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.UI__function .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.UI__function .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.UI__function .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.UI__function .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.UI__function .overlay {
	background: #29abdf;
	background: -webkit-linear-gradient(to right, #29abdf, #08a7e6);
	background: linear-gradient(to right, #29abdf, #08a7e6);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.UI__function .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.UI__function .overlay-left {
	transform: translateX(-20%);
}

.UI__function .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.UI__function .overlay-right {
	right: 0;
	transform: translateX(0);
}

.UI__function .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.UI__function .social-container {
	margin: 20px 0;
}

.UI__function .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.open {
    display: flex;
}

@keyframes loginFadeIn {
    from {
        opacity: 0;
        transform: translateY(-267px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Footer */

#footer .footer-row {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #29aae1;
    align-items: center;
    justify-content: space-between;
}

#footer .title-website .title {
    display: flex;
    color: #e74d55;
    font-size: 32px;
    flex-basis: 30%;
    margin-left: 40px;
}

#footer .list-icon {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
}

#footer .list-icon {
    margin-right: 30px;
}

#footer .box-icon img {
    width: 50px;
}

#footer .box-icon:hover img {
    opacity: 0.6;
}